#about-backstory{
  padding: 50px 0 30px;
  background-color: $color4;
}

#about-creators{
  padding-bottom: 50px;
  background-color: $color2;

  .section-header{
    margin-bottom: 50px;
  }
}

.about-content{
  margin: 20px auto;
  padding: 0 30px;
  max-width: 900px;
}

.creator{
  margin: 0px 0 50px;

  .creator-mascot{
    width: 100px;
    height: 100px;
    margin: 0 auto 30px;
    background-size: cover;
  }

  .text{
    text-align: center;
    margin: 0 auto;

    h2{
      font-size: 1.5rem;
      font-weight: 400;
      margin-bottom: 10px;
    }
  }
}


#chris{
  background-color: lightblue;
  background-image: url('../images/crocodile.png');
  background-blend-mode: multiply;
}

#ellis{
  background-color: #FE5745;
  background-image: url('../images/giraffe.png');
  background-blend-mode: difference;
}

#james{
  background-color: lightgrey;
  background-image: url('../images/bear.png');
  background-blend-mode: multiply;
}






@media (min-width:900px) {
  .about-content{
    margin: 50px auto;
  }

  .creator{
    margin: 0 0 25px;
    overflow: hidden;

    .creator-mascot{
      float: left;
      margin-right: 20px;
    }

    .text{
      text-align: left;
    }
  }
}
