.content{
  section{
    min-height: 76vh;
    margin:0 15px 0px;
    position: relative;
    color:white;
    padding-bottom: 100px;
  }
}

.section-header{
  background-color: $color4;
  padding: 30px 0 15px;
}

.pro-bar{
  height: 10px;
  width: 100%;
  background-color:grey;
  display: flex;
  margin-bottom: 30px;

  .step{
    background-color: $color1;
    height: 10px;
    width: 25%;
  }

  .step:first-of-type{
    width: 0%;
  }

  .step:last-of-type{
    width: 0%;
  }

}

#overview, #economics, #social, #legal{
  display: none;
}

.input-field{
  width: 100%;

  label{
    width: 120px;
    margin-right: 10px;
  }
}

.overview-bottom{
  margin-top: 10px;

  .choose-pic {
    margin-bottom: 20px;

    input.upload{
      display: block;
      height: 50px;
      max-width: 300px;
      padding: 13px;
      background-color: $color1;
    }
  }

  .choose-color{
    margin-bottom:20px;

    input[type="color"]{
      max-width: 300px;
      height: 50px;
      border: 0;
    }
  }

  .choose-mascot{
    margin-bottom:20px;

    select{
      margin-top:10px;
      padding:5px;
      background-color: white;
      border:0;
      outline:0;
    }
  }
}

.form-nav{
  width: 100%;
  max-width: 900px;
  position: absolute;
  bottom: 0;
  left:0;
  display: flex;
  justify-content: space-between;

  button{
    width: 50px;
    margin:0;
  }

  input[type="submit"]{
    width: 50%;
    margin:0;
  }
}



@media (min-width:767px) {
  .content{
    section{
      margin:0 50px 0px;
    }
  }

  .overview-bottom{
    display: flex;
    justify-content: space-between;

    .choose-pic, .choose-color, .choose-mascot{
      width: 30%;
    }
  }
}
