section{
  min-height: 70vh;
  margin:0 15px 70px;
  position: relative;
  color:white;
  padding-bottom: 70px;

  h1{
    background-color: $color4;
    padding: 10px 0;
    margin-bottom: 20px;
  }
}

#economics{
  display: none;
}

#social{
  display: none;
}

#legal{
  display: none;
}

.input-field{
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  label{
    width: 150px;
    margin-right: 10px;
  }
}

.overview-bottom{
  margin-top: 10px;
  text-align: center;

  .choose-pic{
    margin-bottom: 20px;

    input[type="file"] {
    display: none;
    }

    .custom-file-upload {
      margin-top: 10px;
      display: inline-block;
      padding:12px;
      width: 100%;
      max-width: 300px;
      background-color: $color1;
      cursor: pointer;
    }
  }

  .choose-color{
    margin-bottom:20px;

    input[type="color"]{
      max-width: 300px;
      height: 50px;
      border: 0;
    }
  }

  .choose-mascot{
    margin-bottom:20px;

    select{
      margin-top:10px;
      padding:5px;
      background-color: white;
      border:0;
      outline:0;
    }
  }
}

.form-nav{
  width: 100%;
  max-width: 900px;
  position: absolute;
  bottom: 0;
  left:0;
  display: flex;
  justify-content: space-between;

  button{
    width: 50px;
    margin:0;
  }

  input[type="submit"]{
    width: 50%;
    margin:0;
  }
}



@media (min-width:767px) {
  .overview-bottom{
    display: flex;
    justify-content: space-between;

    .choose-pic, .choose-color, .choose-mascot{
      width: 30%;
    }
  }
}
