.leaderboard{

}

.leaderboard-container{
  
}

table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  color:white;
}

tr{
  background-color: $color4;
  display: none;
  width: 100%;
}

td{
  padding:20px;
  width: 16.667%;
  letter-spacing: .05rem;
}

tr:first-of-type{
  background-color: transparent;
}
