.login, .create-account{
  z-index: -1;
  margin:0 15px;
}

.create-account{
  display: none;
}

.form-container{
  background-color: $color4;
  width: 100%;
  min-height:70vh;
  padding:30px 10%;

  a{
    display: block;
    text-align: center;
  }
}


.input-container{
  height: 50px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: white;
  margin-bottom: 20px;

  input{
    position: absolute;
    top:0;
    right: 0;
    margin: 0;
    outline: none;
    border: 0;
    background-color: white;
    height: 45px;
  }

  label{
    position: absolute;
    bottom:0px;
    left: -145px;
    width: 0%;
    background-color:transparent;
    color: transparent;
    height:50px;
    padding-left:10px;
    padding-top: 15px;
    border-bottom: 5px solid transparent;
    cursor:text;
    transition: width .5s ease-in-out, border-bottom .5s ease-in-out, background-color .5s ease-in-out;
  }

  input:valid{
    z-index: 10;
  }

  input:focus + label{
    width: calc(100% + 145px);
    border-bottom: 5px solid $color1;
  }

}

@media (min-width:900px) {
  .login, .create-account{
    margin:0 50px;
  }
}
