

.login{
  background-color: $color1;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 70%;
  height: 50%;
}

.create-account{
  background-color: $color1;
  display: none;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 70%;
  height: 50%;
}
