.login, .create-account{
  z-index: -1;
  margin:0 15px;
}

.create-account{
  display: none;
}

.form-container{
  background-color: $color4;
  width: 100%;
  min-height:70vh;
  padding:30px 10%;

  a{
    display: block;
    text-align: center;
  }
}


.input-container{
  height: 50px;
  width: 100%;
  position: relative;
  overflow: hidden;

  input{
    position: absolute;
    top:0;
    margin: 0;
    outline: none;
  }

  label{
    position: absolute;
    height:100%;
    padding:15px;
    cursor:text;
    transition: all .2s ease-in-out;
  }

  input:focus + label{
    background-color: $color1;
    color:white;
  }
}

@media (min-width:900px) {
  .login, .create-account{
    margin:0 50px;
  }
}
