.top-section{
  justify-content: space-between;
  margin-bottom:30px;

  .profile-pic{
    height:200px;
    width: 200px;
    background-color: orange;
    display: block;
    margin:0 auto 20px;
  }

  .profile-info{
    width:80%;
    display: block;
    margin:0 auto;
    text-align: center;

    h2{
      color: white;
    }

    h3{
      color:white;
    }
  }

  .profile-stats{
    width: 80%;
    text-align: left;
    display: block;
    margin:0 auto;

    .buttons{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      #revolt-button{
        background-color: red;
        max-width: 200px;
        margin:0 20px;
      }

      #pledge-button{
        background-color: green;
        max-width: 200px;
        margin: 0 20px;
      }

      #edit-button{
        width: 100%;
      }
    }
  }
}

.profile-details{
  padding:0 10%;
}




@media (min-width:900px) {
  .top-section{
    display: flex;

    .profile-info{
      text-align: left;
      width: 35%;
    }

    .profile-stats{
      width:35%;
    }
  }

  .profile-details{
    padding: 0 1.5%;
  }
}
