.profile-section{
  background-color: transparent;
  padding:0;
}

.top-section{
  padding: 15px 0 0;
}

.profile-pic{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin:0 auto 30px;
  background-size: cover;
  background-position: center;

  img{
    width: 100%;
  }
}

#minion-icon{
  background-color: white;
  background-size: 75px;
}

.profile-text{
  text-align: center;

  h2{
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-bottom: 5px;
  }

  h2:last-of-type{
    margin-bottom: 20px;
  }

  h3{
    color:white;
    font-weight: 100;
    font-style: italic;
    max-width: 400px;
    margin: 0 auto;
  }

  h3::before, h3::after{
    content: '"';
  }
}


.profile-info{
  display: block;
  margin:30px auto 15px;
}


.profile-icon{
  width:100px;
  height:100px;
  background-blend-mode: difference;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  // filter: grayscale(.4);
  margin: 0 auto 30px;
}

.social-icons{
  width: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px auto 0;
  padding-bottom: 30px;

  .icon{
    width: 40px;
    height: 40px;

    a{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .fa{
        font-size:2.5rem;
        text-shadow: 2px 2px 5px rgba(0,0,0,.1);
      }

      .fa-facebook-square{
        color:#3B5998;
      }

      .fa-twitter-square{
        color:#1DA1F2;
      }
    }
  }
}

.profile-stats{
  text-align: center;
  display: block;
  margin:0 auto;
  line-height: 1rem;

  .stats{
    margin-bottom: 30px;
  }

  h3{
    font-size: 1.3rem;
    line-height: 1.7rem;
  }

  #rank, #pledge, #revolt{
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 5px;
    text-shadow: 2px 2px 5px rgba(0,0,0,.1);
  }

  #rank{
    color: $blue;
  }

  #pledge{
    color: $green;
  }

  #pledge::before{
    content: "+";
  }

  #revolt{
    color:$color1;
  }

  #revolt::before{
    content: "-";
  }

}

.buttons{

  #revolt-button, #pledge-button, #attack-button{
    width: 100%;
    margin: 0 auto 15px;
  }

  #revolt-button{
    background-color: $color1;
  }

  #pledge-button{
    background-color: $green;
  }

  #attack-button{
    background-color: $orange;
  }

  p{
    text-align: center;
    margin: 10px auto 0;
    font-size: 1.2rem;
    line-height: 1.5rem;

    b{
      color: $color1;
    }
  }
}


.edit{
  display: block;
  width: 100px;
  margin: 10px auto 60px ;
  padding: 10px;
  border:1px solid white;
  transition: all .1s ease-in-out;
}

.view{
  .attack-messages{
    max-width: 300px;
    margin: 0 auto;
  }
}





.bottom-section{
  margin: 30px 0 0;
  overflow: hidden;
  padding: 30px 30px 0;

  .policy{
    margin-bottom: 30px;
    padding-top: 40px;
    border-top: 1px solid white;
  }

  h4{
    text-align: center;
    margin: 0 auto 40px;
    padding-bottom: 5px;
    max-width: 400px;
    font-size: 1.5rem;
  }

  li{
    text-transform: capitalize;
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin-bottom: 30px;

    span{
      display: block;
      margin-top: 10px;
      padding-right: 10px;
      font-style: italic;
      text-transform: none;
      font-weight: 100;
      line-height: 1.7rem;
    }

    span::before, span::after{
      content: '"';
    }
  }
}




@media (min-width:900px) {

  .top-section{
    display: flex;
    background-color: rgba(0,0,0,.2);
    padding: 40px;

    .left{
      width: 35%;
    }

    .right{
      width: 65%;
      padding-left: 20px
    }

    .social-icons{
      margin: 0;
      padding: 0;
      width: 100px;
    }

    .profile-info{
      text-align: left;
      margin: 0;
      padding:0;
      padding-bottom: 30px;
      overflow: hidden;
      border-bottom: 1px solid white;
    }

    .profile-icon{
      margin: 0;
      float: left;
    }

    .profile-stats{
      float: left;
      margin: 0;
      margin-left: 20px;
      text-align: left;
      padding:0;
      height: 100px;

      .stats{
        margin:0;
      }
    }

    .buttons{
      padding: 30px;
      width: 100%;
      min-height: 250px;
      margin:30px 0 0;
      background-color: rgba(0,0,0,.1);

      #revolt-button, #pledge-button, #attack-button{
        margin: 0 auto 15px;
      }
    }

    .edit{
      margin:20px auto 0;
    }

    .edit:hover{
      cursor: pointer;
      background-color: rgba(250,250,250,.1);
    }

    .view{
      width: 100%;
      // min-height: 200px;
      margin: 0;

      .gameplay-buttons{
        width: 100%;
        display: flex;
        justify-content: space-between;

        button{
          max-width: 30%;
        }
      }

      .attack-messages{
        max-width: 100%;
        margin: 0;

        .error-message{
          padding:0 30px;
        }
      }
    }

  }

  // .profile-details{
  //   padding: 0 1.5%;
  // }


  .bottom-section{
    margin: 0;
    padding: 0 40px;
    background-color: rgba(0,0,0,.2);

    .policy{

      h4{
        font-size: 2rem;
      }
    }
  }
}
