$color1: #FE5745;
$color2: #3E383C;
$color3: #d74737;
$color4: #635a60;
$color5: rgba(254,87,69,.4);

$blue: #878eff;
$green: #2a8c21;
// $green: #21b913;
$darkgreen: #199d0d;
$yellow: #ffdd33;
$orange: #ff7800;
