.more-info-container{
  text-align: center;
  color: white;
}

#more-info{
  margin: 10px auto;
  width: 50px;
  background-color: $color4;
}

#more-info::after{
  content: "+";
  font-size: 3rem;
  position: relative;
  bottom:5px;
}

#vote-buttons{
  margin: 30px auto;
  max-width: 420px;
  align-items: center;
  justify-content: space-between;


  button{
    width: 200px;
    margin: 0 auto;
  }
}


@media (min-width:900px) {
  #vote-buttons{
    display: flex;
  }
}
