.more-info-container{
  text-align: center;
  color: white;
}

#more-info-link{
  display: inline-block;
  margin: 20px auto 0px;
  transition: all .1s ease-in-out;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-bottom: -5px;
  border:1px solid transparent;

}

#more-info-link:hover{
  border:1px solid white;
}

#more-info{
  max-width: 100%;
  // height: 100%;

  .more-info-policy{
    border-bottom: 1px solid white;
    padding: 30px;

    h4{
      text-align: center;
      margin: 0 auto 40px;
      padding-bottom: 5px;
      max-width: 400px;
      font-size: 1.5rem;
    }

    li{
      text-transform: capitalize;
      text-align: center;
      font-size: 1.3rem;
      line-height: 1.5rem;
      margin-bottom: 30px;

      span{
        display: block;
        margin-top: 10px;
        padding-right: 10px;
        font-style: italic;
        text-transform: none;
        font-weight: 100;
        line-height: 1.7rem;
      }

      span::before, span::after{
        content: '"';
      }
    }
  }

  .more-info-policy:last-of-type{
    border:0;
  }

}


#vote-buttons{
  margin: 30px auto;
  max-width: 600px;
  justify-content: center;
  justify-content: space-between;

  #revolt-button, #pledge-button{
    width: 280px;
  }

}


@media (min-width:900px) {
  #vote-buttons{
    display: flex;
  }
}

@media (min-width:1200px) {
  #more-info{
    padding:0;
    min-height: 100vh;

    .more-info-policies{
      display: flex;
      width: 100%;
    }
    .more-info-policy{
      border: 0;
      border-right: 1px solid white;
      width: 33.333%;
    }

    .more-info-policy:last-of-type{
      border:0;
    }

    .remodal-return{
      margin-top: 50px;
    }
  }
}
