.more-info-container{
  text-align: center;
  color: white;
}

#more-info{
  float: right;
  width: 40px;
  height: 40px;
  background-color: $color4;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

#more-info::after{
  content: "+";
  font-size: 3rem;
  position: relative;
  bottom:8px;
  left:8px;
  color: white;
}

#more-info:hover{
  background-color: darken($color4, 20%);
}

#vote-buttons{
  margin: 30px auto;
  max-width: 440px;
  align-items: stretch;
  justify-content: space-between;


  button{
    width: 200px;
    margin: 0 auto;
  }
}


@media (min-width:900px) {
  #vote-buttons{
    display: flex;
  }
}
