@import "partials/_variables.scss";
@import "partials/_mixins.scss";
@import "partials/_login.scss";
@import "partials/_index.scss";
@import "partials/_leaderboard.scss";
@import "partials/_profile.scss";
@import "partials/_createform.scss";
@import "partials/_vote.scss";
@import "partials/_about.scss";

html{
  min-height: 100%;
  position: relative;
}

*{
  box-sizing: border-box;
}

body{
  background-color: $color2;
  font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, hr, {
  padding:0;
  margin:0;
  color:white;
  letter-spacing: .05rem;
}

h1{
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  color:white;
  letter-spacing: .2rem;
  margin-bottom: 10px;
  line-height: 2.5rem;
}

h2{
  font-size: 1.3rem;
  text-transform: uppercase;
  color:white;
  letter-spacing: .1rem;
}

h3{
  font-size: 1.1rem;
  color:white;
  letter-spacing: .1rem;
  margin-bottom: 10px;
}

h4{
  font-size: 1.1rem;
  color:white;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-bottom: 10px;
}

p{
  color:white;
  font-size: 1rem;
  letter-spacing: .05rem;
  line-height: 1.5rem;
  font-family: sans-serif;
  font-weight: 100;
}

a{
  text-decoration: none;
}

li{
  list-style-type: none;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}


// HEADER__________________________________

header{
  background-color: $color1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top:0;
  width: 100vw;
  height:50px;
  z-index: 1;
  padding:0 15px;
  box-shadow: 0px 10px 20px rgba(0,0,0,.05);
}

.logo{
  margin-left: 0%;

  a{
    text-decoration:none;
    text-transform: uppercase;
    color:white;
    font-weight: 900;
    letter-spacing: .1rem;
  }
}

.main-nav{
  display: none;
  list-style-type: none;

  li{
    margin:10px;
    float: left;
  }
}



.hamburger-trigger{
  // position: relative;
  margin-right: 0%;
}

.hamburger-trigger:hover{
  cursor: pointer;
}

.hamburger-trigger::before{
  font-family: FontAwesome;
  content: "\f0c9";
  color:white;
}

.hamburger-container{
  display: none;
  list-style-type: none;
  position: absolute;
  right:0px;
  text-align:center;
  background-color:$color1;
  width:100vw;
  height: 100vh;
}

.hamburger-nav{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  li{
    padding: 10px;
    font-size: 1.2rem;
    position: relative;
    top:-7%;
  }

  a{
    text-decoration: none;
    color:white;
  }

  a:hover{
    color: black;
  }
}



// CONTENT__________________________________

.content{
  max-width: 900px;
  margin: 70px auto;
  padding: 0 15px;
}

section{
  min-height: 76vh;
  // margin:0 15px;
  position: relative;
  color:white;
  padding-bottom: 100px;
}

.section-header{
  background-color: $color4;
  padding: 30px 50px 15px;
  margin-bottom: 30px;
}

input{
  width: 100%;
  height: 50px;
  min-height: 30px;
  margin: 10px 0;
  padding: 0 10px;
}

input[type="submit"], button{
  max-width: 280px;
  padding: 0 40px;
  display: block;
  margin: 30px auto 0;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border:none;
  outline:none;
  background-color:$color1;
  color:white;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: .1rem;
  transition: all .1s ease-in-out;
  box-shadow: 3px 5px 10px rgba(0,0,0,.1);
}

input[type="submit"]:hover, button:hover{
  cursor: pointer;
  background-color: darken($color1, 3%);
  transform: scale(1.05);
}

input[type="submit"]:active, button:active{
  transform: scale(.98);
  box-shadow: 1px 2px 5px rgba(0,0,0,.1);
}

label{
  font-size: 1.1rem;
  line-height: 1.5rem;
}





// FOOTER__________________________________

footer{
  background-color: $color4;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  box-shadow: 0px -10px 20px rgba(0,0,0,.05);

  p{
    font-size: .8rem;
    margin: 0 auto;
    text-align: center;
  }
}







// MEDIA QUERIES_________________________________
@media (min-width:900px) {
  .content{
    margin: 100px auto;
  }

  h1{
    font-size: 2rem;
    margin-top:10px;
    margin-bottom: 20px;
  }

  h4{
    font-size: 1.5rem;
  }

  header{
    padding:0 5%;
  }

  .main-nav{
    display: block;
  }

  .hamburger-trigger{
    display: none;
  }
}


// ANIMATIONS_________________________________

// BOUNCE ANIMATION
@keyframes bounce {
  0%{
    transform: translateY(0px);
  }

  100%{
    transform: translateY(5px);
  }
}

// BALLOON ANIMATION
@keyframes balloon {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}

// PULSE ANIMATION
@keyframes pulse {
  0%{
    transform: scale(0);
  }

  100%{
    transform: scale(20);
  }
}
