.login, .create-account {
  z-index: -1;
  margin: 0 15px; }

.create-account {
  display: none; }

.form-container {
  background-color: #635a60;
  width: 100%;
  min-height: 70vh;
  padding: 30px 10%;
  margin: 0 0 70px; }
  .form-container a {
    display: block;
    text-align: center; }

.input-container {
  height: 50px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: white;
  margin-bottom: 20px; }
  .input-container input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    outline: none;
    border: 0;
    background-color: transparent;
    height: 50px; }
  .input-container label {
    position: absolute;
    bottom: 0px;
    left: -145px;
    width: 0%;
    background-color: transparent;
    color: transparent;
    height: 50px;
    padding-left: 10px;
    padding-top: 15px;
    border-bottom: 5px solid transparent;
    cursor: text;
    transition: width .5s ease-in-out, border-bottom .5s ease-in-out, background-color .5s ease-in-out; }
  .input-container input:valid {
    z-index: 10; }
  .input-container input:focus + label {
    width: calc(100% + 145px);
    border-bottom: 5px solid #FE5745; }

@media (min-width: 900px) {
  .login, .create-account {
    margin: 0 50px; } }
.hero {
  height: 500px;
  background: linear-gradient(rgba(62, 56, 60, 0.8), rgba(62, 56, 60, 0.8)), url("../images/src.jpg");
  background-size: cover; }
  .hero a {
    display: block;
    position: relative;
    top: 75%; }
  .hero .scrollDown {
    text-align: center; }
    .hero .scrollDown .fa {
      font-size: 4rem;
      animation: bounce .5s linear infinite alternate; }

#backstory {
  padding: 50px 30px;
  max-width: 900px;
  margin: 0 auto; }

#instructions {
  padding: 50px 0 50px; }

.step-by-step {
  display: block;
  margin: 0 auto;
  max-width: 1200px; }
  .step-by-step article {
    margin: 40px 0px;
    padding: 0 15px; }
    .step-by-step article .circle {
      background-color: #FE5745;
      margin: 0 auto 20px;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .step-by-step article .circle h2 {
        font-size: 4rem;
        position: relative;
        top: 5px; }
    .step-by-step article p {
      padding: 30px;
      background-color: #635a60;
      max-width: 500px;
      margin: 0 auto; }

@media (min-width: 900px) {
  .step-by-step {
    display: flex;
    justify-content: space-between; } }
.leaderboard-container {
  padding: 0 15px;
  margin-bottom: 70px; }

#searchbar {
  margin: 20px 0;
  width: 100%; }
  #searchbar input[type="search"] {
    border: none;
    outline: none;
    width: 100%;
    margin: 0; }
  #searchbar label {
    display: none; }
  #searchbar input[type="submit"] {
    max-width: 100%;
    display: block;
    margin: 10px auto;
    border-radius: 0;
    box-shadow: none; }
  #searchbar input[type="submit"]:hover {
    transform: translate(0); }
  #searchbar input[type="submit"]:focus {
    transform: scale(1); }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  color: white; }

tr {
  background-color: #635a60;
  display: none;
  width: 100%;
  margin-bottom: 10px;
  height: 100px; }

td, th {
  text-align: left;
  padding: 20px;
  width: 33.333%;
  letter-spacing: .05rem;
  position: relative; }

td:nth-child(n+3):nth-child(-n+5), th:nth-child(n+3):nth-child(-n+5) {
  display: none; }

td:nth-child(n+4) {
  font-size: 1.5rem;
  font-weight: 900;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); }

td:nth-child(4) {
  color: #21b913; }

td:nth-child(5) {
  color: #FE5745; }

td:nth-child(6) {
  color: #878eff; }

tr:first-of-type {
  background-color: transparent;
  display: flex;
  height: auto; }

td img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0; }

td .color-overlay {
  width: 100px;
  height: 100px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0; }

td .image-overlay {
  width: 100px;
  height: 100px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .5; }
  td .image-overlay img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    padding: 5px; }

@media (min-width: 767px) {
  #searchbar {
    display: flex; }
    #searchbar input[type="submit"] {
      margin: 0;
      width: 25%; }

  td, th {
    width: 16.667%;
    display: block; }

  td:nth-child(n+3):nth-child(-n+5), th:nth-child(n+3):nth-child(-n+5) {
    display: block; } }
.top-section {
  justify-content: space-between;
  margin: 30px 0; }
  .top-section .profile-pic {
    height: 200px;
    width: 200px;
    border: 1px dashed white;
    display: block;
    margin: 0 auto 20px;
    overflow: hidden;
    object-fit: fill;
    position: relative; }
    .top-section .profile-pic .profile-icon {
      position: absolute;
      width: 50px;
      top: 0;
      right: 0; }
      .top-section .profile-pic .profile-icon img {
        background-blend-mode: overlay;
        width: 100%;
        opacity: .6; }
  .top-section .profile-info {
    display: block;
    margin: 0 auto 30px;
    padding: 0 30px;
    text-align: center; }
    .top-section .profile-info h2 {
      color: white;
      font-size: 1.5rem;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: .1rem;
      margin-bottom: 5px; }
    .top-section .profile-info h2:last-of-type {
      margin-bottom: 20px; }
    .top-section .profile-info h3 {
      color: white;
      font-weight: 100;
      font-style: italic; }
    .top-section .profile-info h3::before, .top-section .profile-info h3::after {
      content: '"'; }
  .top-section .profile-stats {
    width: 80%;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 0 15px;
    line-height: 1rem; }
    .top-section .profile-stats #rank, .top-section .profile-stats #pledge, .top-section .profile-stats #revolt {
      display: inline-block;
      font-size: 1.5rem;
      margin-left: 5px;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); }
    .top-section .profile-stats #rank {
      color: #878eff; }
    .top-section .profile-stats #pledge {
      color: #21b913; }
    .top-section .profile-stats #pledge::before {
      content: "+"; }
    .top-section .profile-stats #revolt {
      color: #FE5745; }
    .top-section .profile-stats #revolt::before {
      content: "-"; }
    .top-section .profile-stats .buttons {
      margin-top: 30px; }
      .top-section .profile-stats .buttons #revolt-button, .top-section .profile-stats .buttons #pledge-button, .top-section .profile-stats .buttons #edit-button {
        max-width: 200px;
        margin: 10px auto;
        height: 40px; }
      .top-section .profile-stats .buttons #revolt-button {
        background-color: red; }
      .top-section .profile-stats .buttons #pledge-button {
        background-color: green; }
      .top-section .profile-stats .buttons #edit-button {
        background-color: #FE5745; }
      .top-section .profile-stats .buttons .view {
        display: block; }
      .top-section .profile-stats .buttons .edit {
        display: block; }
      .top-section .profile-stats .buttons p {
        width: 200px;
        text-align: center;
        margin: 10px auto 0;
        font-size: .8rem;
        line-height: 1.1rem; }
        .top-section .profile-stats .buttons p b {
          color: #FE5745; }

.remodal a {
  color: black;
  margin: 0 10px; }

.bottom-section {
  margin: 30px 0 0; }
  .bottom-section li {
    margin: 20px 0 20px 20px;
    font-weight: 400;
    letter-spacing: .05rem;
    text-transform: uppercase;
    list-style-type: none; }
    .bottom-section li span {
      display: block;
      margin-top: 10px;
      padding-right: 10px;
      font-family: sans-serif;
      font-size: .9rem;
      font-style: italic;
      text-transform: none;
      font-weight: 100;
      line-height: 1.3rem;
      color: rgba(250, 250, 250, 0.75); }

@media (min-width: 900px) {
  .top-section {
    display: flex; }
    .top-section .profile-info {
      text-align: left;
      width: 35%;
      margin: 0 auto 0px; }
    .top-section .profile-stats {
      text-align: left;
      width: 35%; }

  .profile-details {
    padding: 0 1.5%; } }
.content section {
  min-height: 76vh;
  margin: 0 15px 70px;
  position: relative;
  color: white;
  padding-bottom: 100px; }

.section-header {
  background-color: #635a60;
  padding: 30px 0 15px; }

.choices {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green; }

#choice1, #choice2 {
  height: 125px;
  width: 125px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
  -webkit-animation: balloon 0.7s;
  -moz-animation: balloon 0.7s;
  animation: balloon 0.7s;
  cursor: pointer; }

#choice1:active, #choice2:active {
  transform: scale(0.9); }

#choice1 {
  background-color: #FE5745; }

#choice1:hover {
  background-color: #fe4936; }

#choice2 {
  background-color: orange; }
  #choice2 h2 {
    color: black; }

#choice2:hover {
  background-color: darkorange; }

.pro-bar {
  height: 5px;
  width: 100%;
  background-color: white;
  display: flex;
  margin-bottom: 30px; }
  .pro-bar .step {
    background-color: #FE5745;
    height: 5px;
    width: 25%; }
  .pro-bar .step:first-of-type {
    width: 0%; }
  .pro-bar .step:last-of-type {
    width: 0%; }

#overview, #economics, #social, #legal {
  display: none; }

.input-field {
  width: 100%; }
  .input-field label {
    width: 120px;
    margin-right: 10px; }

.overview-bottom {
  margin-top: 10px; }
  .overview-bottom .choose-pic {
    margin-bottom: 20px; }
    .overview-bottom .choose-pic input.upload {
      display: block;
      height: 50px;
      max-width: 300px;
      padding: 13px;
      background-color: #FE5745; }
  .overview-bottom .choose-color {
    margin-bottom: 20px; }
    .overview-bottom .choose-color input[type="color"] {
      max-width: 300px;
      height: 50px;
      border: 0; }
  .overview-bottom .choose-mascot {
    margin-bottom: 20px; }
    .overview-bottom .choose-mascot select {
      margin-top: 10px;
      padding: 5px;
      background-color: white;
      border: 0;
      outline: 0; }

.form-nav {
  width: 100%;
  max-width: 900px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between; }
  .form-nav button {
    width: 50px;
    margin: 0; }
  .form-nav input[type="submit"] {
    width: 50%;
    margin: 0; }

@media (min-width: 900px) {
  .content section {
    margin: 0 50px 70px; }

  #choice1, #choice2 {
    width: 300px;
    height: 300px;
    margin: 20px; }

  .overview-bottom {
    display: flex;
    justify-content: space-between; }
    .overview-bottom .choose-pic, .overview-bottom .choose-color, .overview-bottom .choose-mascot {
      width: 30%; } }
html {
  min-height: 100%;
  position: relative; }

* {
  box-sizing: border-box; }

body {
  background-color: #3E383C;
  font-family: 'Josefin Sans', sans-serif; }

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, hr {
  padding: 0;
  margin: 0;
  color: white;
  letter-spacing: .05rem; }

h1 {
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  color: white;
  letter-spacing: .2rem;
  margin-bottom: 10px;
  line-height: 2.5rem; }

h3 {
  font-size: 1.1rem;
  color: white;
  letter-spacing: .1rem;
  margin-bottom: 10px; }

h4 {
  font-size: 1.1rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-bottom: 10px; }

p {
  color: white;
  font-size: 1rem;
  letter-spacing: .05rem;
  line-height: 1.5rem;
  font-family: sans-serif;
  font-weight: 100; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

.flex {
  display: flex;
  align-items: center;
  justify-content: center; }

header {
  background-color: #FE5745;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 50px;
  z-index: 1;
  padding: 0 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05); }

.logo {
  margin-left: 0%; }
  .logo a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    letter-spacing: .1rem; }

.main-nav {
  display: none;
  list-style-type: none; }
  .main-nav li {
    margin: 10px;
    float: left; }

.hamburger-trigger {
  margin-right: 0%; }

.hamburger-trigger:hover {
  cursor: pointer; }

.hamburger-trigger::before {
  font-family: FontAwesome;
  content: "\f0c9";
  color: white; }

.hamburger-container {
  display: none;
  list-style-type: none;
  position: absolute;
  right: 0px;
  text-align: center;
  background-color: #FE5745;
  width: 100vw;
  height: 100vh; }

.hamburger-nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .hamburger-nav li {
    padding: 10px;
    font-size: 1.2rem;
    position: relative;
    top: -7%; }
  .hamburger-nav a {
    text-decoration: none;
    color: white; }
  .hamburger-nav a:hover {
    color: black; }

.content {
  max-width: 900px;
  margin: 70px auto 0; }

input {
  width: 100%;
  height: 50px;
  min-height: 30px;
  margin: 10px 0;
  padding: 0 10px; }

input[type="submit"], button {
  margin-top: 30px;
  max-width: 280px;
  display: block;
  margin: 30px auto 0;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: #FE5745;
  color: white;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: .1rem;
  transition: all .1s ease-in-out;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1); }

input[type="submit"]:hover, button:hover {
  cursor: pointer;
  background-color: #fe4936;
  transform: translateY(-2px); }

input[type="submit"]:active, button:active {
  transform: scale(0.98); }

label {
  font-size: 1.1rem;
  line-height: 1.5rem; }

footer {
  background-color: #635a60;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.05); }
  footer p {
    font-size: .8rem;
    margin: 0 auto;
    text-align: center; }

@media (min-width: 900px) {
  .content {
    margin: 100px auto; }

  h1 {
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 20px; }

  h4 {
    font-size: 1.5rem; }

  header {
    padding: 0 5%; }

  .main-nav {
    display: block; }

  .hamburger-trigger {
    display: none; } }
@keyframes bounce {
  0% {
    transform: translateY(0px); }
  100% {
    transform: translateY(5px); } }
@keyframes balloon {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

/*# sourceMappingURL=styles.css.map */
