<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Create Form</title>
</head>
<body>

<!-- HEADER____________________________________________ -->
<header>
    <div class="logo">
        <a href="index.html">Appallitics</a>
    </div>
    <ul class="main-nav">
        <li><a href="login.html">Login</a></li>
        <li><a href="leaderboard.html">Leaderboard</a></li>
        <li><a href="vote.html">Vote</a></li>
        <li><a href="profile.html">Profile</a></li>
        <li><a href="about.html">About</a></li>
    </ul>
    <div class="hamburger-trigger">
        <ul class="hamburger-nav">
            <li><a href="login.html">Login</a></li>
            <li><a href="leaderboard.html">Leaderboard</a></li>
            <li><a href="vote.html">Vote</a></li>
            <li><a href="profile.html">Profile</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
    </div>
</header>


<!-- CONTENT___________________________________________ -->

<form action="profile.html">
    <section>
        <h2>Overview</h2>

        <!--For username-->
        <div id="username-print">Username</div>

        <label for="overviewBlurb">Blurb</label>
        <br />
        <input type="text" id="overviewBlurb" name="overviewBlurb" placeholder="" required="required"/>
        <br />
        <br />

        <label for="overviewDictatorshipName">Blurb</label>
        <br />
        <input type="text" id="overviewDictatorshipName" name="overviewDictatorshipName" placeholder="" required="required"/>
        <br />
        <br />

        <label for="overviewMascot">DictatorshipName</label>
        <br />
        <input type="text" id="overviewMascot" name="overviewMascot" placeholder="" required="required"/>
        <br />
        <br />

        <label for="overviewPicture">Mascot</label>
        <br />
        <input type="text" id="overviewPicture" name="overviewPicture" placeholder="" required="required"/>
        <br />
        <br />
    </section>

    <section>
        <h2>Economics</h2>

        <label for="econLabor">Labor</label>
        <br />
        <input type="text" id="econLabor" name="econLabor" placeholder="" required="required"/>
        <br />
        <br />

        <label for="econTax">Tax</label>
        <br />
        <input type="text" id="econTax" name="econTax" placeholder="" required="required"/>
        <br />
        <br />

        <label for="econTrade">Trade</label>
        <br />
        <input type="text" id="econTrade" name="econTrade" placeholder="" required="required"/>
        <br />
        <br />

        <label for="econInfrastructure">Infrastructure</label>
        <br />
        <input type="text" id="econInfrastructure" name="econInfrastructure" placeholder="" required="required"/>
        <br />
        <br />

        <label for="econMilitary">Military</label>
        <br />
        <input type="text" id="econMilitary" name="econMilitary" placeholder="" required="required"/>
        <br />
        <br />
    </section>

    <section>
        <h2>Social</h2>

        <label for="socialHealthcare">Healthcare</label>
        <br />
        <input type="text" id="socialHealthcare" name="socialHealthcare" placeholder="" required="required"/>
        <br />
        <br />

        <label for="socialRetirement">Retirement</label>
        <br />
        <input type="text" id="socialRetirement" name="socialRetirement" placeholder="" required="required"/>
        <br />
        <br />

        <label for="socialEducation">Education</label>
        <br />
        <input type="text" id="socialEducation" name="econTrade" socialEducation="" required="required"/>
        <br />
        <br />

        <label for="socialEnvironment">Environment</label>
        <br />
        <input type="text" id="socialEnvironment" name="socialEnvironment" placeholder="" required="required"/>
        <br />
        <br />

        <label for="socialWelfare">Welfare</label>
        <br />
        <input type="text" id="socialWelfare" name="socialWelfare" placeholder="" required="required"/>
        <br />
        <br />
    </section>

    <section>
        <h2>Economics</h2>

        <label for="legalPunishment">Punishment</label>
        <br />
        <input type="text" id="legalPunishment" name="legalPunishment" placeholder="" required="required"/>
        <br />
        <br />

        <label for="legalImmigration">Immigration</label>
        <br />
        <input type="text" id="legalImmigration" name="legalImmigration" placeholder="" required="required"/>
        <br />
        <br />

        <label for="legalVotingRights">Voting Rights</label>
        <br />
        <input type="text" id="legalVotingRights" name="legalVotingRights" placeholder="" required="required"/>
        <br />
        <br />

        <label for="legalPrivacyLaws">Privacy Laws</label>
        <br />
        <input type="text" id="legalPrivacyLaws" name="legalPrivacyLaws" placeholder="" required="required"/>
        <br />
        <br />

        <label for="legalWeapons">Weapons</label>
        <br />
        <input type="text" id="legalWeapons" name="legalWeapons" placeholder="" required="required"/>
        <br />
        <br />
    </section>

    <input type="submit" />
</form>

<!-- FOOTER____________________________________________ -->
<footer>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</footer>









<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/remodal.js"></script>
<script src="../static/js/script.js"></script>

</body>
</html>
