<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Create Form</title>
  <script src="https://use.fontawesome.com/d631437608.js"></script>
  <link rel="stylesheet" href="../static/css/normalize.css" th:href="@{css/normalize.css}"/>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,400,700" rel="stylesheet" />
  <link rel="stylesheet" href="../static/css/remodal-default-theme.css" th:href="@{css/remodal-default-theme.css}" />
  <link rel="stylesheet" href="../static/css/remodal.css" th:href="@{css/remodal.css}"/>
  <link rel="stylesheet" href="../static/css/styles.css" th:href="@{css/styles.css}" />
</head>

<body>

    <!-- HEADER____________________________________________ -->
    <header>
        <div class="logo">
          <a href="index.html" th:href="@{/}" title="Return Home, while you still have one">
            <img src="../static/images/logo.svg" alt="appallitics">
          </a>
        </div>
        <!--if logged in-->
        <div th:if="${checkloggedin} != 0">
            <ul class="main-nav" >
                <li><a href="leaderboard.html" th:href="@{/leaderboard}" title="See who is the worst at losing">Leaderboard</a></li>
                <li><a href="vote.html" th:href="@{/vote}" title="Determine your horrifying vision of the future">Vote</a></li>
                <li><a href="profile.html" th:href="@{/profile}" title="Remind yourself about your terrible choices">Profile</a></li>
                <li><a href="about.html" th:href="@{/about}" title="See who is subjecting you to this">About</a></li>
                <li><a href="login.html" th:href="@{/logout}" title="Escape while you can">Logout</a></li>
            </ul>
            <div class="hamburger-trigger">
                <div class="hamburger-container">
                    <ul class="hamburger-nav">
                        <li><a href="leaderboard.html" th:href="@{/leaderboard}" title="See who is the worst at losing">Leaderboard</a></li>
                        <li><a href="vote.html" th:href="@{/vote}" title="Determine your horrifying vision of the future">Vote</a></li>
                        <li><a href="profile.html" th:href="@{/profile}" title="Remind yourself about your terrible choices">Profile</a></li>
                        <li><a href="about.html" th:href="@{/about}" title="See who is subjecting you to this">About</a></li>
                        <li><a href="login.html" th:href="@{/logout}" title="Escape while you can">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--if not logged in-->
        <div th:if="${checkloggedin} == 0">
            <ul class="main-nav">
                <li><a href="login.html" th:href="@{/login}" title="Begin your mental anguish">Login</a></li>
                <li><a href="about.html" th:href="@{/about}" title="See who is subjecting you to this">About</a></li>
            </ul>
            <div class="hamburger-trigger">
                <div class="hamburger-container">
                    <ul class="hamburger-nav">
                        <li><a href="login.html" th:href="@{/login}" title="Begin your mental anguish">Login</a></li>
                        <li><a href="about.html" th:href="@{/about}" title="See who is subjecting you to this">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <!-- CONTENT___________________________________________ -->

    <div class="content">

      <form action="profile.html" th:action="@{/createDictator}" method="post" enctype="multipart/form-data">


          <section id="choose">
            <div class="section-header">
              <h1>Choose Your Path...</h1>
            </div>

            <br/>
            <br/>

            <div class="choices">
              <a href="#" id="choice1">Dictator</a>
              <a href="profile.html" th:href="@{/profile}" id="choice2">Minion</a>
            </div>
          </section>


          <section id="overview">
              <div class="section-header">
                <h1>Show the world how easy politics are!</h1>
              </div>
              <div class="pro-bar">
                <div class="step"></div>
                <div class="step"></div>
              </div>

              <!--For username-->
              <h3>Welcome, newest social experiment subject <span id="username-print" th:text="${dictator.getUser().getUsername()}"></span></h3>
              <br/>

              <div class="input-field">
                <label for="overviewBlurb">Party Catchphrase</label>
                <input spellcheck="true" type="text" id="overviewBlurb" name="overviewBlurb" th:value="${dictator.getOverviewBlurb().trim()}" placeholder="instill fear in your fellow minions! or advertise your home business" required="required"/>
              </div>

              <div class="input-field">
                <label for="overviewDictatorshipName">Dictatorship Name</label>
                <input spellcheck="true" type="text" id="overviewDictatorshipName" name="overviewDictatorshipName" th:value="${dictator.getOverviewDictatorshipName().trim()}" placeholder="make it something intimidating, like Meat Hammock or Butterfly Nozzle or The Sentient Waffle Iron" required="required"/>
              </div>

              <br/>

              <div class="overview-bottom">

                  <div class="choose-pic">
                    <label for="file">Choose Your Profile Picture</label>
                    <input name="file" id="file" type="file" class="upload" />
                  </div>

                  <div>CURRENT IMAGE</div>
                  <img th:src="@{/dictator/image(id=${dictator.getUser().getId()})}" />

                  <div class="choose-color">
                    <p>Choose Your Color</p>
                    <input type="color" name="favcolor" th:value="${dictator.getOverviewColor()}" value="#ffffff"/>
                  </div>

                  <div class="choose-mascot">
                    <p>Choose Your Mascot</p>
                    <select class="mascot-dropdown" name="mascot">
                      <option value="Lion">Lion</option>
                      <option value="Bear">Bear</option>
                      <option value="ClownFish">Clown Fish</option>
                      <option value="Mouse">Mouse</option>
                      <option value="Crocodile">Crocodile</option>
                      <option value="Parrot">Parrot</option>
                      <option value="Rhino">Rhino</option>
                      <option value="Shark">Shark</option>
                      <option value="Trout">Trout</option>
                      <option value="Giraffe">Giraffe</option>
                    </select>
                  </div>

              </div>

              <div class="form-nav">
                <span></span>
                <button type="button" name="button" class="next"><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></button>
              </div>
          </section>



          <section id="economics">
              <div class="section-header">
                <h1>Your Brilliant Economic Policies</h1>
              </div>
              <div class="pro-bar">
                <div class="step"></div>
                <div class="step"></div>
                <div class="step"></div>
              </div>

              <label for="econLabor">Stance on Minion Labor Rights</label>
              <br />
              <input spellcheck="true" type="text" id="econLabor" name="econLabor" th:value="${dictator.getEconLabor().trim()}" placeholder="minimum wage! unions! unemployment! and other things that the sniveling masses expect you to care about" required="required"/>
              <br />
              <!-- <br /> -->

              <label for="econTrade">Foreign Trade with Other Countries</label>
              <br />
              <input spellcheck="true" type="text" id="econTrade" name="econTrade" th:value="${dictator.getEconTrade().trim()}" placeholder="let's just pretend for a moment that you'll have to deal with an equal at some point during your reign" required="required"/>
              <br />
              <!-- <br /> -->

              <label for="econMilitary">Military Might</label>
              <br />
              <input spellcheck="true" type="text" id="econMilitary" name="econMilitary" th:value="${dictator.getEconMilitary().trim()}" placeholder="crush your enemies -- See them driven before you...etc" required="required"/>
              <br />
              <!-- <br /> -->

              <div class="multiple-choice">
                <label for="econInfrastructure">Country Infrastructure (click for options)</label>
                <br />
                <select spellcheck="true" type="text" id="econInfrastructure" name="econInfrastructure" th:value="${dictator.getEconInfrastructure().trim()}" placeholder="build bridges with your former enemies! or better yet have them build the bridges">
                    <option value ="I will use tax money to sustain our crumbling infrastructure.">I will use tax money to sustain our crumbling infrastructure.</option>
                    <option value ="I will use tax money to repair and improve our crumbling infrastructure.">I will use tax money to repair and improve our crumbling infrastructure.</option>
                    <option value ="I will use paid minion labor to sustain our crumbling infrastructure.">I will use paid minion labor to sustain our crumbling infrastructure.</option>
                    <option value ="I will use free minion labor to sustain our crumbling infrastructure.">I will use free minion labor to sustain our crumbling infrastructure.</option>
                    <option value ="I will ignore our crumbling infrastructure and focus on more important matters.">I will ignore our crumbling infrastructure and focus on more important matters.</option>
                    <option value ="I will actively destroy our crumbling infrastructure.">I will actively destroy our crumbling infrastructure.</option>
                    required="required"</select>
              </div>

              <div class="multiple-choice">
                <label for="econTax">Minion Taxes (click for options)</label>
                <br />
                <select spellcheck="true" type="text" id="econTax" name="econTax" th:value="${dictator.getEconTax().trim()}" placeholder="haha, as if you'll pay them a living wage">
                    <option value ="Tax 100% of minion income.">Tax 100% of minion income.</option>
                    <option value ="Tax 75% of minion income.">Tax 75% of minion income.</option>
                    <option value ="Tax 50% of minion income.">Tax 50% of minion income.</option>
                    <option value ="Tax 35% of minion income.">Tax 35% of minion income.</option>
                    <option value ="Tax 15% of minion income.">Tax 15% of minion income.</option>
                    <option value ="No tax.">No tax.</option>
                    <option value ="I plan on abolishing currency.">I plan on abolishing currency.</option>
                    required="required"</select>
              </div>


              <div class="form-nav">
                <button type="button" name="button" class="prev"><a href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></button>
                <button type="button" name="button" class="next"><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></button>
              </div>
          </section>



          <section id="social">
            <div class="section-header">
              <h1>Your Conscientious Social Policies</h1>
            </div>
            <div class="pro-bar">
              <div class="step"></div>
              <div class="step"></div>
              <div class="step"></div>
              <div class="step"></div>
            </div>

              <label for="socialHealthcare">Stance on Minion Healthcare</label>
              <br />
              <input spellcheck="true" type="text" id="socialHealthcare" name="socialHealthcare" th:value="${dictator.getSocialHealthcare().trim()}" placeholder="more like Deathcare, am I right?" required="required"/>
              <br />
              <!-- <br /> -->

              <label for="socialWelfare">Minion Welfare</label>
              <br />
              <input spellcheck="true" type="text" id="socialWelfare" name="socialWelfare" th:value="${dictator.getSocialWelfare().trim()}" placeholder="let's throw a pity party for the weak and feeble" required="required"/>
              <br />
              <!-- <br /> -->

              <label for="socialEducation">Minion Education</label>
              <br />
              <input spellcheck="true" type="text" id="socialEducation" name="socialEducation" th:value="${dictator.getSocialEducation().trim()}" placeholder="because a well-educated minion will lack the physical strength to defeat you in hand-to-hand combat" required="required"/>
              <br />
              <!-- <br /> -->


              <div class="multiple-choice">
                <label for="socialEnvironment">Environmental Issues (click for options)</label>
                <select spellcheck="true" type="text" id="socialEnvironment" name="socialEnvironment" th:value="${dictator.getSocialEnvironment().trim()}" placeholder="destroying the planet is hard work but someone's got to do it">
                    <option value ="I will sustain the current state of our polluted, festering wasteland."> I will sustain the current state of our polluted, festering wasteland.</option>
                    <option value ="I will work to improve and care for our polluted, festering wasteland.">I will work to improve and care for our polluted, festering wasteland.</option>
                    <option value ="I will actively sabotage the environment of our polluted, festering wasteland.">I will actively sabotage the environment of our polluted, festering wasteland.</option>
                    <option value ="I will refuse to acknowledge that we live in a polluted, festering wasteland.">I will refuse to acknowledge that we live in a polluted, festering wasteland.</option>
                    <option value ="I will actively work on finding a country to invade that isn't a polluted, festering wasteland.">I will actively work on finding a country to invade that isn't a polluted, festering wasteland.</option>
                    <option value ="I will encourage space travel in order to find a habitable planet that isn't a polluted, festering wasteland.">I will encourage space travel in order to find a habitable planet that isn't a polluted, festering wasteland.</option>
                    required="required"</select>
              </div>



              <div class="multiple-choice">
                <label for="socialRetirement">Minion Retirement (click for options)</label>
                <select spellcheck="true" type="text" id="socialRetirement" name="socialRetirement" th:value="${dictator.getSocialRetirement().trim()}" placeholder="too old to work? that's unpossible">
                    <option value ="All minions work until I decide otherwise.">All minions work until I decide otherwise.</option>
                    <option value ="There is no retirement. The word 'retirement' ceases to exist effective immediately.">There is no retirement. The word 'retirement' ceases to exist effective immediately.</option>
                    <option value ="Retirement age of 65, and then you live on your meager savings.">Retirement age of 65, and then you live on your meager savings.</option>
                    <option value ="All older minions move into retirement homes and then perform menial tasks to further serve the country.">All older minions move into retirement homes and then perform menial tasks to further serve the country.</option>
                    <option value ="Minions can retire at a reasonable old age and then mooch off younger minions.">Minions can retire at a reasonable old age and then mooch off younger minions.</option>
                    required="required"</select>
              </div>



              <div class="form-nav">
                <button type="button" name="button" class="prev"><a href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></button>
                <button type="button" name="button" class="next"><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></button>
              </div>
          </section>



          <section id="legal">
            <div class="section-header">
              <h1>Your Highly Informed Legal Policies</h1>
            </div>
            <div class="pro-bar">
              <div class="step"></div>
              <div class="step"></div>
              <div class="step"></div>
              <div class="step"></div>
              <div class="step"></div>
            </div>

              <label for="legalPunishment">Minion Punishment</label>
              <br />
              <input spellcheck="true" type="text" id="legalPunishment" name="legalPunishment" th:value="${dictator.getLegalPunishment().trim()}" placeholder="undignified slaps with the back of your hand shall abound" required="required"/>
              <br />
              <!-- <br /> -->

              <label for="legalWeapons">Minion Weapon Rights</label>
              <br />
              <input spellcheck="true" type="text" id="legalWeapons" name="legalWeapons" th:value="${dictator.getLegalWeapons().trim()}" placeholder="the right to bear spiked clubs and ninja stars" required="required"/>
              <br />
              <!-- <br /> -->

              <label for="legalVotingRights">Minion Voting Rights</label>
              <br />
              <input spellcheck="true" type="text" id="legalVotingRights" name="legalVotingRights" th:value="${dictator.getLegalVotingRights().trim()}" placeholder="dictator-for-life does have a nice ring to it" required="required"/>
              <br />
              <!-- <br /> -->

              <div class="multiple-choice">
                <label for="legalImmigration">Minion Immigration (click for options)</label>
                <select spellcheck="true" type="text" id="legalImmigration" name="legalImmigration" th:value="${dictator.getLegalImmigration().trim()}" placeholder="you will be more than happy to accept/deny new vassals who will do your bidding">
                    <option value ="I will encourage minions from other countries to come and do my bidding."> I will encourage minions from other countries to come and do my bidding.</option>
                    <option value ="I will discourage minions from other countries to come and do my bidding.">I will discourage minions from other countries to come and do my bidding.</option>
                    <option value ="I will allow minions from other countries to visit and do my bidding and then let them return home.">I will allow minions from other countries to visit and do my bidding and then let them return home.</option>
                    <option value ="I will actively work to conquer foreign lands so that their minions can do my bidding.">I will actively work to conquer foreign lands so that their minions can do my bidding.</option>
                    <option value ="I will encourage you to move to another country if you aren't a productive and satisfied member of society.">I will encourage you to move to another country if you aren't a productive and satisfied member of society.</option>
                    required="required"</select>
              </div>


              <div class="multiple-choice">
                <label for="legalPrivacyLaws">Minion Privacy Laws (click for options)</label>
                <select spellcheck="true" type="text" id="legalPrivacyLaws" name="legalPrivacyLaws" th:value="${dictator.getLegalPrivacyLaws().trim()}" placeholder="your minions will of course have nothing to hide from you">
                    <option value ="I will use the latest technology to monitor every aspect of your lives and I will be open and honest about it."> I will use the latest technology to monitor every aspect of your lives and I will be open and honest about it.</option>
                    <option value ="I will use the latest technology to monitor every aspect of your lives and I will hide this from you.">I will use the latest technology to monitor every aspect of your lives and I will hide this from you.</option>
                    <option value ="I will let you gather and share information with only moderate fear of persecution.">I will let you gather and share information with only moderate fear of persecution.</option>
                    <option value ="I will let you gather and share information while working to undermine your efforts.">I will let you gather and share information while working to undermine your efforts.</option>
                    <option value ="I will let you decide which aspects of your lives that I assert control over.">I will let you decide which aspects of your lives that I assert control over.</option>
                    <option value ="I will allow you to live your lives free of constant oversight and supervision.">I will allow you to live your lives free of constant oversight and supervision.</option>
                    required="required"</select>
              </div>



              <div class="form-nav">
                <button type="button" name="button" class="prev"><a href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></button>

                <input type="submit" />
              </div>

          </section>
      </form>
    </div>

    <!-- FOOTER____________________________________________ -->
    <footer>
        <p></p>
    </footer>









<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/remodal.js" th:src="@{js/remodal.js}"></script>
<script src="../static/js/script.js" th:src="@{js/script.js}"></script>

</body>
</html>
