<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../static/images/favicon.png" type="image/x-icon" />
    <title>Appallitics</title>
    <script src="https://use.fontawesome.com/d631437608.js"></script>
    <link rel="stylesheet" href="../static/css/normalize.css" th:href="@{css/normalize.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,400,700" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/css/remodal-default-theme.css" th:href="@{css/remodal-default-theme.css}"/>
    <link rel="stylesheet" href="../static/css/remodal.css" th:href="@{css/remodal.css}"/>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{css/styles.css}"/>
</head>

<body>

    <!-- HEADER____________________________________________ -->
    <header>
        <div class="logo">
            <a href="index.html" th:href="@{/}" title="Return Home, while you still have one">
                <img src="../static/images/logo.svg" th:src="@{images/logo.svg}" alt="appallitics" />
            </a>
        </div>
        <!--if logged in-->
        <div th:if="${checkloggedin} != 0">
            <ul class="main-nav" >
                <li><a href="leaderboard.html" th:href="@{/leaderboard}" title="See who is the worst at losing">Leaderboard</a></li>
                <li><a href="vote.html" th:href="@{/vote}" title="Determine your horrifying vision of the future">Vote</a></li>
                <li><a href="profile.html" th:href="@{/profile}" title="Remind yourself about your terrible choices">Profile</a></li>
                <li><a href="about.html" th:href="@{/about}" title="See who is subjecting you to this">About</a></li>
                <li><a href="login.html" th:href="@{/logout}" title="Escape while you can">Logout</a></li>
            </ul>
            <div class="hamburger-trigger">
                <div class="hamburger-container">
                    <ul class="hamburger-nav">
                        <li><a href="leaderboard.html" th:href="@{/leaderboard}" title="See who is the worst at losing">Leaderboard</a></li>
                        <li><a href="vote.html" th:href="@{/vote}" title="Determine your horrifying vision of the future">Vote</a></li>
                        <li><a href="profile.html" th:href="@{/profile}" title="Remind yourself about your terrible choices">Profile</a></li>
                        <li><a href="about.html" th:href="@{/about}" title="See who is subjecting you to this">About</a></li>
                        <li><a href="login.html" th:href="@{/logout}" title="Escape while you can">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--if not logged in-->
        <div th:if="${checkloggedin} == 0">
            <ul class="main-nav">
                <li><a href="login.html" th:href="@{/login}" title="Begin your mental anguish">Login</a></li>
                <li><a href="about.html" th:href="@{/about}" title="See who is subjecting you to this">About</a></li>
            </ul>
            <div class="hamburger-trigger">
                <div class="hamburger-container">
                    <ul class="hamburger-nav">
                        <li><a href="login.html" th:href="@{/login}" title="Begin your mental anguish">Login</a></li>
                        <li><a href="about.html" th:href="@{/about}" title="See who is subjecting you to this">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- CONTENT___________________________________________ -->

    <div class="hero">
      <img src="../static/images/logo.svg" th:src="@{images/logo.svg}" alt="Appallitics logo" />
      <h1>Building a better dictator for tomorrow, today</h1>
      <div class="hero-nav">
        <a href="login.html" th:href="@{/login}"><button type="button" name="button">Click me to start!</button></a>
        <a href="#instructions" class="scrollDown">INSTRUCTIONS <br/> <i class="fa fa-angle-down" aria-hidden="true"></i></a>
      </div>
    </div>


    <div id="introduction">
      <div class="section-container">
        <h1>Want to rule your very own country? Of course you don't. That sounds like a lot of work. That's why you should choose someone else to do it.</h1>

        <br/>

        <p>Your country is in chaos due to a sudden, totally unplanned lack of leadership in your country. Normally someone powerful, persuasive, and sociopathic would assume control and assert their will upon the public, but you and your fellow plebs are having a hard time being dominated by a single strong-willed leader. The only way to restore order is to decide among yourselves who is worthy of becoming the new dictator by pledging loyalty or revolting against those who have put themselves up for public mockery. Smite your enemies and inflate the egos of your allies! It's like real-life politics, only more productive.
        </p>
      </div>
    </div>


    <div id="instructions">

      <div class="instructions-heading">
        <h1>Plan Your Path to Irrelevancy...</h1>
      </div>

      <div class="step-by-step">

        <article class="">
          <div class="circle">
            <h2>1</h2>
          </div>
          <p>First, create an account by clicking<a href="login.html" th:href="@{/login}"> "Click me to start!"</a>
               and decide whether to create your own dictatorship (to which other minions can pledge loyalty or revolt against) or stay as a minion and merely vote for or against other proposed dictatorships.
              Assuming you want to be a minion, you can pledge support to your favorite dictatorships and revolt against your least favorite dictatorships. Your fate relies on the passing whims of other power-mongers.</p>
        </article>

        <article class="">
          <div class="circle">
            <h2>2</h2>
          </div>
          <p>Assuming you want to create a dictatorship, you will answer a string of seemingly endless questions about your political ideologies (this helps weed out the nutjobs). You will upload a picture, pick your mascot, and tell us how obtaining absolute power won't go straight to your head. Go to the Leaderboard to check out the rankings, or go to the vote page to dish out your pledges and revolts.</p>
        </article>

        <article class="">
          <div class="circle">
            <h2>3</h2>
          </div>
          <p>Choose to attack other dictators to try to reduce their pledges, but be careful not to sabotage yourself in the process. Convince your friends to join, so they can help you rise up the leaderboard. Surely there's no way they will turn on you if they disagree with your political beliefs. You'll all be able to view each others' profile pages and see how truly loathsome and despicable you would be if you obtained even the smallest measure of political power.</p>
        </article>

      </div>
    </div>
    <br/>
    <br/>

    <!-- FOOTER____________________________________________ -->
    <footer>
        <p></p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/remodal.js" th:src="@{js/remodal.js}"></script>
    <script src="../static/js/script.js" th:src="@{js/script.js}"></script>
</body>

</html>
