<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Appallitics</title>
    <script src="https://use.fontawesome.com/d631437608.js"></script>
    <link rel="stylesheet" href="../static/css/normalize.css" th:href="@{css/normalize.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,400,700" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/css/remodal-default-theme.css" th:href="@{css/remodal-default-theme.css}"/>
    <link rel="stylesheet" href="../static/css/remodal.css" th:href="@{css/remodal.css}"/>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{css/styles.css}"/>
</head>

<body>

    <!-- HEADER____________________________________________ -->
    <header>
        <div class="logo">
            <a href="index.html" th:href="@{/}">Appallitics</a>
        </div>
        <ul class="main-nav">
            <li><a href="login.html" th:href="@{/login}">Login</a></li>
            <li><a href="leaderboard.html" th:href="@{/leaderboard}">Leaderboard</a></li>
            <li><a href="vote.html" th:href="@{/vote}">Vote</a></li>
            <li><a href="profile.html" th:href="@{/profile}">Profile</a></li>
            <li><a href="about.html" th:href="@{/about}">About</a></li>
            <li><a href="login.html" th:href="@{/logout}">Logout</a></li>
        </ul>
        <div class="hamburger-trigger">
            <div class="hamburger-container">
              <ul class="hamburger-nav">
                  <li><a href="login.html" th:href="@{/login}">Login</a></li>
                  <li><a href="leaderboard.html" th:href="@{/leaderboard}">Leaderboard</a></li>
                  <li><a href="vote.html" th:href="@{/vote}">Vote</a></li>
                  <li><a href="profile.html" th:href="@{/profile}">Profile</a></li>
                  <li><a href="about.html" th:href="@{/about}">About</a></li>
                  <li><a href="login.html" th:href="@{/logout}">Logout</a></li>
              </ul>
            </div>
        </div>
    </header>

    <!-- CONTENT___________________________________________ -->

    <section class="hero">
       <a href="login.html" th:href="@{/login}"><button type="button" name="button">Build Your Empire!</button></a>
       <a href="#instructions" class="scrollDown"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
    </section>


    <section id="backstory">
      <h1>Want to rule your very own kingdom?<br/>Of course you don't. That sounds like a lot of work. That's why you should choose someone else to do it.</h1>

      <p>But first, you do need to put a tiny fraction of effort into creating your very own dictatorship. How else will you know how much people hate you and your ideas? Simply click on "Create a Party" to get started. Make sure you put an appropriate amount of thought into your responses, as poor creation attempts will be mocked mercilessly on Twitter.
      <br/>
      <br/>
      Like a real dictatorship, others are free to support or rise against you as they see fit, with little to no consequences for their actions. You can try to create a dictatorship that has the highest number of loyal followers, or one that everyone wants to see burn to the ground. Whatever you want to do is fine; we're not here to judge you to your face.</p>
    </section>


    <section id="instructions">

      <h1>How It All Works...</h1>

      <div class="step-by-step">

        <article class="">
          <div class="circle">
            <h2>1</h2>
          </div>
          <p>First, you do need to put a tiny fraction of effort into creating your very own dictatorship. How else will you know how much people hate you and your ideas? Simply click on "Create a Party" to get started. Make sure you put an appropriate amount of thought into your responses, as poor creation attempts will be mocked mercilessly on Twitter.</p>
        </article>

        <article class="">
          <div class="circle">
            <h2>2</h2>
          </div>
          <p>Like a real dictatorship, others are free to support or rise against you as they see fit, with little to no consequences for their actions. You can try to create a dictatorship that has the highest number of loyal followers, or one that everyone wants to see burn to the ground. Whatever you want to do is fine; we're not here to judge you to your face.</p>
        </article>

        <article class="">
          <div class="circle">
            <h2>3</h2>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>

      </div>
    </section>

    <!-- FOOTER____________________________________________ -->
    <footer>
        <p></p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/remodal.js" th:src="@{js/remodal.js}"></script>
    <script src="../static/js/script.js" th:src="@{js/script.js}"></script>
</body>

</html>
