<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Leaderboard</title>
    <script src="https://use.fontawesome.com/d631437608.js"></script>
    <link rel="stylesheet" href="../static/css/normalize.css" th:href="@{css/normalize.css}" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,400,700" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/remodal-default-theme.css" th:href="@{css/remodal-default-theme.css}" />
    <link rel="stylesheet" href="../static/css/remodal.css" th:href="@{css/remodal.css}" />
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{css/styles.css}" />
</head>

<body>

    <!-- HEADER____________________________________________ -->
    <header>
        <div class="logo">
            <a href="index.html" th:href="@{/}">Appallitics</a>
        </div>
        <!--if logged in-->
        <div th:if="${checkloggedin} != 0">
            <ul class="main-nav" >
                <li><a href="leaderboard.html" th:href="@{/leaderboard}">Leaderboard</a></li>
                <li><a href="vote.html" th:href="@{/vote}">Vote</a></li>
                <li><a href="profile.html" th:href="@{/profile}">Profile</a></li>
                <li><a href="about.html" th:href="@{/about}">About</a></li>
                <li><a href="login.html" th:href="@{/logout}">Logout</a></li>
            </ul>
            <div class="hamburger-trigger">
                <div class="hamburger-container">
                    <ul class="hamburger-nav">
                        <li><a href="leaderboard.html" th:href="@{/leaderboard}">Leaderboard</a></li>
                        <li><a href="vote.html" th:href="@{/vote}">Vote</a></li>
                        <li><a href="profile.html" th:href="@{/profile}">Profile</a></li>
                        <li><a href="about.html" th:href="@{/about}">About</a></li>
                        <li><a href="login.html" th:href="@{/logout}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--if not logged in-->
        <div th:if="${checkloggedin} == 0">
            <ul class="main-nav">
                <li><a href="login.html" th:href="@{/login}">Login</a></li>
                <li><a href="about.html" th:href="@{/about}">About</a></li>
            </ul>
            <div class="hamburger-trigger">
                <div class="hamburger-container">
                    <ul class="hamburger-nav">
                        <li><a href="login.html" th:href="@{/login}">Login</a></li>
                        <li><a href="about.html" th:href="@{/about}">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <!-- CONTENT___________________________________________ -->

    <div class="content">
      <div class="leaderboard-container">

        <h1>Leaderboard</h1>

          <form action="leaderboard.html" th:action="@{/leaderboard}" method="get">
              <label>
                  <span>Search:</span>
                  <input type="text" name="search" value="" th:value="${search}"/>
              </label>
          </form>


        <table>
            <tr>
                <th>Picture</th>
                <th >Username</th>
                <th>Dictatorship name</th>
                <th title="Sort by Greatest # of Pledges">
                    <a href="leaderboard.html" th:href="@{/leaderboard}">Pledges</a>
                </th>
                <th title="Sort by Greatest # of Revolts">
                    <a href="leaderboard.html" th:href="@{/worstDictators}">Revolts</a>
                </th>
                <th>
                    <a href="leaderboard.html" th:href="@{/score}">Score</a>
                </th>


            </tr>

            <tr th:each="rank : ${dictators}">
                <td>
                    <img th:src="@{/dictator/image(id=${rank.getUser().getId()})}" alt="Picture 1" style="width:100%;"/>
                </td>
                <td> <a href="profile.html" th:text="${rank.getUser().getUsername()}" th:href="@{'/profile?dictatorId=' + ${rank.getUser().getId()}}">Username 1</a></td>
                <!--<td><a href="#" placethymeleafhere>testing</a></td>-->
                <td th:text="${rank.getOverviewDictatorshipName()}">Dictatorship name 1</td>
                <td th:text="${rank.getPledge()}">1</td>
                <td th:text="${rank.getRevolt()}">99</td>
                <td th:text="${rank.getPledge() - rank.getRevolt()}">-98</td>
            </tr>

            <tr th:remove="all">
                <td>Picture 2</td>
                <td>Username 2</td>
                <td>Dictatorship name 2</td>
                <td>50</td>
                <td>100</td>
                <td>-50</td>
            </tr>
        </table>

        <button type="button" name="button" id="loadMore">See More</button>

      </div>
    </div>

    <!-- FOOTER____________________________________________ -->
    <footer>
        <p></p>
    </footer>









<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/remodal.js" th:src="@{js/remodal.js}"></script>
<script src="../static/js/script.js" th:src="@{js/script.js}"></script>
</body>
</html>
