<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Leaderboard</title>
    <script src="https://use.fontawesome.com/d631437608.js"></script>
    <link rel="stylesheet" href="../static/css/normalize.css" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,400,700" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/remodal-default-theme.css" />
    <link rel="stylesheet" href="../static/css/remodal.css" />
    <link rel="stylesheet" href="../static/css/styles.css" />
</head>

<body>

<!-- HEADER____________________________________________ -->
<header>
    <div class="logo">
        <a href="index.html" th:href="@{/}">Appallitics</a>
    </div>
    <ul class="main-nav">
        <li><a href="login.html" th:href="@{/login}">Login</a></li>
        <li><a href="leaderboard.html" th:href="@{/leaderboard}">Leaderboard</a></li>
        <li><a href="vote.html" th:href="@{/vote}">Vote</a></li>
        <li><a href="profile.html" th:href="@{/profile}">Profile</a></li>
        <li><a href="about.html" th:href="@{/about}">About</a></li>
    </ul>
    <div class="hamburger-trigger">
        <ul class="hamburger-nav">
            <li><a href="login.html" th:href="@{/login}">Login</a></li>
            <li><a href="leaderboard.html" th:href="@{/leaderboard}">Leaderboard</a></li>
            <li><a href="vote.html" th:href="@{/vote}">Vote</a></li>
            <li><a href="profile.html" th:href="@{/profile}">Profile</a></li>
            <li><a href="about.html" th:href="@{/about}">About</a></li>
        </ul>
    </div>
</header>


<!-- CONTENT___________________________________________ -->

<div class="content">
  <div class="leaderboard-container">

    <h1>Leaderboard</h1>

      <form action="leaderboard.html" th:action="@{/leaderboard}" method="get">
          <label>
              <span>Search:</span>
              <input type="text" name="search" value="" th:value="${search}"/>
          </label>
      </form>


    <table>
        <tr>
            <td th:value="*{rank}">Rank</td>
            <td>Picture</td>
            <td>Username</td>
            <td>Dictatorship name</td>
            <td>Pledges</td>
            <td>Revolts</td>
        </tr>

        <tr>
            <td>1</td>
            <td>Picture 1</td>
            <td>Username 1</td>
            <td>Dictatorship name 1</td>
            <td>Pledges 1</td>
            <td>Revolts 1</td>
        </tr>

        <tr th:remove="all">
            <td>2</td>
            <td>Picture 2</td>
            <td>Username 2</td>
            <td>Dictatorship name 2</td>
            <td>Pledges 2</td>
            <td>Revolts 2</td>
        </tr>
    </table>

  </div>
</div>

<!-- FOOTER____________________________________________ -->
<footer>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</footer>









<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/remodal.js"></script>
<script src="../static/js/script.js"></script>

</body>
</html>
