<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Leaderboard</title>
</head>
<body>

<!-- HEADER____________________________________________ -->
<header>
    <div class="logo">
        <a href="index.html">Appallitics</a>
    </div>
    <ul class="main-nav">
        <li><a href="login.html">Login</a></li>
        <li><a href="leaderboard.html">Leaderboard</a></li>
        <li><a href="vote.html">Vote</a></li>
        <li><a href="profile.html">Profile</a></li>
        <li><a href="about.html">About</a></li>
    </ul>
    <div class="hamburger-trigger">
        <ul class="hamburger-nav">
            <li><a href="login.html">Login</a></li>
            <li><a href="leaderboard.html">Leaderboard</a></li>
            <li><a href="vote.html">Vote</a></li>
            <li><a href="profile.html">Profile</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
    </div>
</header>


<!-- CONTENT___________________________________________ -->

<h2>Leaderboard Top X</h2>
<table>
    <tr>
        <td>Rank</td>
        <td>Picutre</td>
        <td>Username</td>
        <td>Dictatorship name</td>
        <td>Pledges</td>
        <td>Revolts</td>
    </tr>

    <tr>
        <td>1</td>
        <td>Picutre 1</td>
        <td>Username 1</td>
        <td>Dictatorship name 1</td>
        <td>Pledges 1</td>
        <td>Revolts 1</td>
    </tr>

    <tr>
        <td>2</td>
        <td>Picutre 2</td>
        <td>Username 2</td>
        <td>Dictatorship name 2</td>
        <td>Pledges 2</td>
        <td>Revolts 2</td>
    </tr>
</table>

<!-- FOOTER____________________________________________ -->
<footer>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</footer>









<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/remodal.js"></script>
<script src="../static/js/script.js"></script>

</body>
</html>