<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../static/images/favicon.png" type="image/x-icon" />
    <title>Login</title>
    <script src="https://use.fontawesome.com/d631437608.js"></script>
    <link rel="stylesheet" href="../static/css/normalize.css" th:href="@{css/normalize.css}" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,400,700" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/remodal-default-theme.css" th:href="@{css/remodal-default-theme.css}" />
    <link rel="stylesheet" href="../static/css/remodal.css" th:href="@{css/remodal.css}" />
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{css/styles.css}"/>
</head>

<body>


    <!-- HEADER____________________________________________ -->
      <header>
        <div class="logo">
          <a href="index.html" th:href="@{/}" title="Return Home, while you still have one">
              <img src="../static/images/logo.svg" th:src="@{images/logo.svg}" alt="appallitics" />
          </a>
        </div>
          <!--if logged in-->
          <div th:if="${checkloggedin} != 0">
        <ul class="main-nav" >
          <li><a href="leaderboard.html" th:href="@{/leaderboard}" title="See who is the worst at losing">Leaderboard</a></li>
          <li><a href="vote.html" th:href="@{/vote}" title="Determine your horrifying vision of the future">Vote</a></li>
          <li><a href="profile.html" th:href="@{/profile}" title="Remind yourself about your terrible choices">Profile</a></li>
          <li><a href="about.html" th:href="@{/about}" title="See who is subjecting you to this">About</a></li>
          <li><a href="login.html" th:href="@{/logout}" title="Escape while you can">Logout</a></li>
        </ul>
        <div class="hamburger-trigger">
          <div class="hamburger-container">
            <ul class="hamburger-nav">
              <li><a href="leaderboard.html" th:href="@{/leaderboard}" title="See who is the worst at losing">Leaderboard</a></li>
              <li><a href="vote.html" th:href="@{/vote}" title="Determine your horrifying vision of the future">Vote</a></li>
              <li><a href="profile.html" th:href="@{/profile}" title="Remind yourself about your terrible choices">Profile</a></li>
              <li><a href="about.html" th:href="@{/about}" title="See who is subjecting you to this">About</a></li>
              <li><a href="login.html" th:href="@{/logout}" title="Escape while you can">Logout</a></li>
            </ul>
          </div>
          </div>
          </div>
            <!--if not logged in-->
            <div th:if="${checkloggedin} == 0">
            <ul class="main-nav">
                <li><a href="login.html" th:href="@{/login}" title="Begin your mental anguish">Login</a></li>
                <li><a href="about.html" th:href="@{/about}" title="See who is subjecting you to this">About</a></li>
            </ul>
            <div class="hamburger-trigger">
                <div class="hamburger-container">
                    <ul class="hamburger-nav">
                        <li><a href="login.html" th:href="@{/login}" title="Begin your mental anguish">Login</a></li>
                        <li><a href="about.html" th:href="@{/about}" title="See who is subjecting you to this">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
      </header>

    <!-- CONTENT___________________________________________ -->


      <div class="content">

        <form class="login" action="profile.html" th:action="@{/loginVerify}" method="post">
          <div class="form-container">
            <h1>Login</h1>


            <div class="input-container">
              <input type="text" id="username" name="username" placeholder="Username" required="required"/>
              <label for="username">Username</label>
            </div>

            <div class="input-container">
              <input type="password" id="password" name="password" placeholder="Password" required="required"/>
              <label for="password">Password</label>
            </div>

            <br />
            <a href="#" class="go-to-create-account" >Don't have an account?</a>
            <input type="submit" name="submit" value="continue" />

            <div th:if="${errorTrue}" id="error">
              <p>ERROR: </p>
              <br/>
              <span th:text="${error}"></span>
            </div>
          </div>
        </form>


        <form class="create-account" action="createform.html" th:action="@{/createAccount}" method="post" >
          <div class="form-container">
            <h1>Create Account</h1>


            <div class="input-container">
              <input type="text" id="email" name="email" placeholder="Email" required="required"/>
              <label for="email">Email</label>
            </div>

            <div class="input-container">
              <input type="text" id="username" name="username" placeholder="Username" required="required"/>
              <label for="username">Username</label>
            </div>

            <div class="input-container">
              <input type="password" id="password" name="password" placeholder="Password" required="required"/>
              <label for="password">Password</label>
            </div>

            <div class="input-container">
              <input type="password" id="confirm" name="confirm" placeholder="Confirm Password" required="required"/>
              <label for="confirm">Confirm Password</label>
            </div>

            <br />
            <a href="#" class="go-to-login">Already have an account?</a>
            <input type="submit" name="submit" value="create account" />
          </div>
        </form>

      </div>

    <!-- FOOTER____________________________________________ -->
      <footer>
        <p></p>
      </footer>










    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/remodal.js" th:src="@{js/remodal.js}"></script>
    <script src="../static/js/script.js" th:src="@{js/script.js}"></script>
</body>

</html>
