<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Profile</title>
    <script src="https://use.fontawesome.com/d631437608.js"></script>
    <link rel="stylesheet" href="../static/css/normalize.css" th:href="@{css/normalize.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,400,700" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/remodal-default-theme.css" th:href="@{css/remodal-default-theme.css}"/>
    <link rel="stylesheet" href="../static/css/remodal.css" th:href="@{css/remodal.css}" />
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{css/styles.css}"/>
</head>

<body>

    <!-- HEADER____________________________________________ -->

    <header>
        <div class="logo">
            <a href="index.html" th:href="@{/}" title="Return Home, while you still have one">Appallitics</a>
        </div>
        <!--if logged in-->
        <div th:if="${checkloggedin} != 0">
            <ul class="main-nav" >
                <li><a href="leaderboard.html" th:href="@{/leaderboard}" title="See who is the worst at losing">Leaderboard</a></li>
                <li><a href="vote.html" th:href="@{/vote}" title="Determine your horrifying vision of the future">Vote</a></li>
                <li><a href="profile.html" th:href="@{/profile}" title="Remind yourself about your terrible choices">Profile</a></li>
                <li><a href="about.html" th:href="@{/about}" title="See who is subjecting you to this">About</a></li>
                <li><a href="login.html" th:href="@{/logout}" title="Escape while you can">Logout</a></li>
            </ul>
            <div class="hamburger-trigger">
                <div class="hamburger-container">
                    <ul class="hamburger-nav">
                        <li><a href="leaderboard.html" th:href="@{/leaderboard}" title="See who is the worst at losing">Leaderboard</a></li>
                        <li><a href="vote.html" th:href="@{/vote}" title="Determine your horrifying vision of the future">Vote</a></li>
                        <li><a href="profile.html" th:href="@{/profile}" title="Remind yourself about your terrible choices">Profile</a></li>
                        <li><a href="about.html" th:href="@{/about}" title="See who is subjecting you to this">About</a></li>
                        <li><a href="login.html" th:href="@{/logout}" title="Escape while you can">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--if not logged in-->
        <div th:if="${checkloggedin} == 0">
            <ul class="main-nav">
                <li><a href="login.html" th:href="@{/login}" title="Begin your mental anguish">Login</a></li>
                <li><a href="about.html" th:href="@{/about}" title="See who is subjecting you to this">About</a></li>
            </ul>
            <div class="hamburger-trigger">
                <div class="hamburger-container">
                    <ul class="hamburger-nav">
                        <li><a href="login.html" th:href="@{/login}" title="Begin your mental anguish">Login</a></li>
                        <li><a href="about.html" th:href="@{/about}" title="See who is subjecting you to this">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <!-- CONTENT___________________________________________ -->

    <div class="content">

      <!--MINION-->
      <section th:if="${minion} == true">
          <div class="section-header">
            <h1>Profile</h1>
          </div>

          <div class="top-section">
              <div class="profile-pic" th:style="'background-image: url(' + @{/dictator/image(id=${dictator.getUser().getId()})}+')'">
              </div>

              <div class="profile-info">
                <div class="profile-icon" style="background-image:url('../static/images/lion.png');"
                     th:style="'background-color:'+${dictator.getOverviewColor()}+'; background-image:url(images/'+${dictator.getOverviewMascot().toLowerCase()}+'.png);'"></div>
                <h2 th:text="${dictator.getUser().getUsername()}">Username</h2>
                <h2 th:text="${dictator.getOverviewDictatorshipName()}">Party</h2>
                <h3 th:text="${dictator.getOverviewBlurb()}">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
              </div>

              <!--EDIT PROFILE BUTTON-->
                  <div class="profile-stats">
                    <div class="buttons" >
                        <div class="edit" th:if="${owner}">
                            <button id="edit-button" type="button" data-remodal-target="modal">Edit Profile</button>
                            <p><b>WARNING:</b> Editing profile will reset user rank, pledge and revolt values!</p>
                        </div>
                    </div>
                  </div>

              <!--Facebook share-->
              <!-- <div id="fb-root"></div> -->

              <!-- <div class="fb-share-button" data-href="https://appallitics.herokuapp.com/profile"
                   data-layout="button_count" data-size="small" data-mobile-iframe="true">
                  <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fappallitics.herokuapp.com%2Fprofile&amp;src=sdkpreparse">Share</a>
              </div> -->

              <!-- MODAL DIALOG BOX FOR EDIT BUTTON -->
              <div class="remodal" data-remodal-id="modal">
                  <a href="#" data-remodal-action="close" class="remodal-close" ></a>
                  <p>Are you sure?<br/>Editing your profile will reset your user rank, pledge and revolt values.</p>
                  <br/>
                  <a href="#" data-remodal-action="cancel">CANCEL</a>
                  <a href="createform.html" th:href="@{/editDictator}">OK</a>
              </div>

          </div>

      </section>

      <!--DICTATOR-->
      <section th:if="${minion} == false">

        <div class="section-header">
          <h1>Profile</h1>
        </div>


        <div class="top-section">

          <div class="profile-pic" th:style="'background-image: url(' + @{/dictator/image(id=${dictator.getUser().getId()})}+')'"></div>

          <div class="profile-info">
            <div class="row">
              <div class="profile-icon" style="background-image:url('../static/images/crocodile.png');"
                   th:style="'background-color:'+${dictator.getOverviewColor()}+'; background-image:url(images/'+${dictator.getOverviewMascot().toLowerCase()}+'.png);'"></div>

              <div class="social-icons">
                <div class="icon" data-href="https://appallitics.herokuapp.com/profile"
                     data-layout="button_count" data-size="small" data-mobile-iframe="true">
                     <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fappallitics.herokuapp.com%2Fprofile&amp;src=sdkpreparse">
                         <i class="fa fa-facebook-official" aria-hidden="true"></i>
                     </a>
                </div>
                <div class="icon">
                  <a target="_blank" class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Hello%20world" th:href="@{'https://twitter.com/intent/tweet?text='+${twitterBlurb}}">
                      <i class="fa fa-twitter-square" aria-hidden="true"></i>
                  </a>
                </div>
              </div>

            </div>
            <h2 th:text="${dictator.getUser().getUsername()}">Username</h2>
            <h2 th:text="${dictator.getOverviewDictatorshipName()}">Party</h2>
            <h3 th:text="${dictator.getOverviewBlurb()}">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
          </div>

          <div class="profile-stats">

            <h3>PLEDGE: <div id="pledge" th:text="${dictator.getPledge()}">2</div> </h3>
            <h3>REVOLT: <div id="revolt" th:text="${dictator.getRevolt()}">998001</div> </h3>


            <div class="buttons" >
              <div class="view" th:if="${!owner}" >
                  <button id="revolt-button" type="button" data-remodal-target="revolt-modal">Revolt</button>
                  <button id="pledge-button" type="button" data-remodal-target="pledge-modal">Pledge</button>
                  <button id="attack-button" type="button" data-remodal-target="attack-modal">Attack</button>
                  <div class="error-message" th:if="${errorExists} == true">
                    <p><b>ERROR: </b><span th:text="${error}"></span></p>
                  </div>
              </div>

              <div class="edit" th:if="${owner}">
                  <button id="edit-button" type="button" data-remodal-target="edit-modal">Edit Profile</button>
                  <p><b>WARNING:</b> Editing profile will reset user rank, pledge and revolt values!</p>
              </div>


                <!--&lt;!&ndash;Facebook share&ndash;&gt;-->
                <!--<div id="fb-root"></div>-->

                <!--<div class="fb-share-button" data-href="https://appallitics.herokuapp.com/profile"-->
                     <!--data-layout="button_count" data-size="small" data-mobile-iframe="true">-->
                    <!--<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fappallitics.herokuapp.com%2Fprofile&amp;src=sdkpreparse">Share</a>-->
                <!--</div>-->

            </div>

          </div>
        </div>

        <!-- MODAL DIALOG BOXES-->
        <div class="remodal" data-remodal-id="edit-modal">
          <a href="#" data-remodal-action="close" class="remodal-close" ></a>
          <h2>ARE YOU SURE?</h2>
          <br />
          <p>Editing your profile will reset your user rank, pledge and revolt values.</p>
          <br/>
          <a href="#" data-remodal-action="cancel" class="remodal-cancel">CANCEL</a>
          <a href="createform.html" th:href="@{/editDictator}" class="remodal-confirm">OK</a>
        </div>

        <div class="remodal" id="revolt-modal" data-remodal-id="revolt-modal">
            <a href="#" data-remodal-action="close" class="remodal-close" ></a>
            <h2>Do you REALLY want to REVOLT?</h2>
            <br />
            <p>There may be consequences.</p>
            <br/>
            <a href="#" data-remodal-action="cancel" class="remodal-cancel">Cancel</a>
            <a href="profile.html" th:href="@{'/revoltProfile?dictatorId='+${dictator.getUser().getId()}}" class="remodal-confirm">REVOLT 100%</a>
        </div>

        <div class="remodal" id="pledge-modal" data-remodal-id="pledge-modal">
            <a href="#" data-remodal-action="close" class="remodal-close" ></a>
            <h2>Do you REALLY want to PLEDGE?</h2>
            <br />
            <p>There may be consequences.</p>
            <br/>
            <a href="#" data-remodal-action="cancel" class="remodal-cancel">Cancel</a>
            <a href="profile.html" th:href="@{'/pledgeProfile?dictatorId='+${dictator.getUser().getId()}}" class="remodal-confirm">PLEDGE 100%</a>
        </div>

        <div class="remodal" id="attack-modal" data-remodal-id="attack-modal">
            <a href="#" data-remodal-action="close" class="remodal-close" ></a>
            <h2>WAR!</h2>
            <br />
            <a href="#" data-remodal-action="cancel" class="remodal-cancel">RETREAT!</a>
            <a href="profile.html" th:href="@{'/attack?dictatorId='+${dictator.getUser().getId()}}" class="remodal-confirm">LETS FIGHT</a>
        </div>




        <div class="bottom-section">
          <div class="policy">
            <h4><span th:text="${dictator.getOverviewDictatorshipName()}">Your</span>'s Economic Policies</h4>
              <ul>
                <li>Stance on minion labor rights: <span th:text="${dictator.getEconLabor()}"></span></li>
                <li>Minion Taxes: <span th:text="${dictator.getEconTax()}"></span></li>
                <li>Foreign trade with other realms: <span th:text="${dictator.getEconTrade()}"></span></li>
                <li>Realm infrastructure: <span th:text="${dictator.getEconInfrastructure()}"></span></li>
                <li>Military might: <span th:text="${dictator.getEconMilitary()}"></span></li>
              </ul>
          </div>

          <div class="policy">
            <h4><span th:text="${dictator.getOverviewDictatorshipName()}">Your</span>'s Social Policies</h4>
              <ul>
                <li>Stance on minion healthcare: <span th:text="${dictator.getSocialHealthcare()}"></span></li>
                <li>Minion retirement: <span th:text="${dictator.getSocialRetirement()}"></span></li>
                <li>Minion education: <span th:text="${dictator.getSocialEducation()}"></span></li>
                <li>Environmental issues: <span th:text="${dictator.getSocialEnvironment()}"></span></li>
                <li>Minion welfare: <span th:text="${dictator.getSocialWelfare()}"></span></li>
              </ul>
          </div>

          <div class="policy">
            <h4><span th:text="${dictator.getOverviewDictatorshipName()}">Your</span>'s Legal Policies</h4>
              <ul>
                <li>Minion punishment: <span th:text="${dictator.getLegalPunishment()}"></span></li>
                <li>Minion immigration: <span th:text="${dictator.getLegalImmigration()}"></span></li>
                <li>Minion voting rights: <span th:text="${dictator.getLegalVotingRights()}"></span></li>
                <li>Minion privacy Laws: <span th:text="${dictator.getLegalPrivacyLaws()}"></span></li>
                <li>Minion weapon rights: <span th:text="${dictator.getLegalWeapons()}"></span></li>
              </ul>
          </div>

        </div>
      </section>
    </div>


    <!-- FOOTER____________________________________________ -->
    <footer>
        <p></p>
    </footer>









    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/remodal.js" th:src="@{js/remodal.js}"></script>
    <script src="../static/js/script.js" th:src="@{js/script.js}"></script>

</body>
</html>
