<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<!-- HEADER____________________________________________ -->
<header>
    <div class="logo">
        <a href="index.html">Appallitics</a>
    </div>
    <ul class="main-nav">
        <li><a href="#">Login</a></li>
        <li><a href="#">Leaderboard</a></li>
        <li><a href="#">Vote</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">About</a></li>
    </ul>
    <div class="hamburger-trigger">
        <ul class="hamburger-nav">
            <li><a href="#">Login</a></li>
            <li><a href="#">Leaderboard</a></li>
            <li><a href="#">Vote</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>
</header>


<!-- CONTENT___________________________________________ -->

<h1>Profile</h1>

<div>Picture at left</div>

<h2>Username</h2>
<h2>Party</h2>
<h3>Blurb</h3>

<h3>Rank: <div id="rank">5</div> </h3>
<h3>Pledge: <div id="pledge">2</div> </h3>
<h3>Revolt: <div id="revolt">998001</div> </h3>

<button type="button">Revolt</button>
<button type="button">Pledge</button>

<!--hide it-->
<button type="button">Edit</button>


<h4>Economics</h4>
<p>Economic Information</p>

<h4>Social</h4>
<p>Social Information</p>

<h4>Legal</h4>
<p>Legal Information</p>


<!-- FOOTER____________________________________________ -->
<footer>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</footer>









<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/remodal.js"></script>
<script src="../static/js/script.js"></script>

</body>
</html>