<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Vote</title>
    <script src="https://use.fontawesome.com/d631437608.js"></script>
    <link rel="stylesheet" href="../static/css/normalize.css" th:href="@{css/normalize.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,400,700" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/css/remodal-default-theme.css" th:href="@{css/remodal-default-theme.css}"/>
    <link rel="stylesheet" href="../static/css/remodal.css" th:href="@{css/remodal.css}"/>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{css/styles.css}"/>
</head>

<body>

    <!-- HEADER____________________________________________ -->
    <header>
        <div class="logo">
            <a href="index.html" th:href="@{/}" title="Return Home, while you still have one">Appallitics</a>
        </div>
        <!--if logged in-->
        <div th:if="${checkloggedin} != 0">
            <ul class="main-nav" >
                <li><a href="leaderboard.html" th:href="@{/leaderboard}" title="See who is the worst at losing">Leaderboard</a></li>
                <li><a href="vote.html" th:href="@{/vote}" title="Determine your horrifying vision of the future">Vote</a></li>
                <li><a href="profile.html" th:href="@{/profile}" title="Remind yourself about your terrible choices">Profile</a></li>
                <li><a href="about.html" th:href="@{/about}" title="See who is subjecting you to this">About</a></li>
                <li><a href="login.html" th:href="@{/logout}" title="Escape while you can">Logout</a></li>
            </ul>
            <div class="hamburger-trigger">
                <div class="hamburger-container">
                    <ul class="hamburger-nav">
                        <li><a href="leaderboard.html" th:href="@{/leaderboard}" title="See who is the worst at losing">Leaderboard</a></li>
                        <li><a href="vote.html" th:href="@{/vote}" title="Determine your horrifying vision of the future">Vote</a></li>
                        <li><a href="profile.html" th:href="@{/profile}" title="Remind yourself about your terrible choices">Profile</a></li>
                        <li><a href="about.html" th:href="@{/about}" title="See who is subjecting you to this">About</a></li>
                        <li><a href="login.html" th:href="@{/logout}" title="Escape while you can">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--if not logged in-->
        <div th:if="${checkloggedin} == 0">
            <ul class="main-nav">
                <li><a href="login.html" th:href="@{/login}" title="Begin your mental anguish">Login</a></li>
                <li><a href="about.html" th:href="@{/about}" title="See who is subjecting you to this">About</a></li>
            </ul>
            <div class="hamburger-trigger">
                <div class="hamburger-container">
                    <ul class="hamburger-nav">
                        <li><a href="login.html" th:href="@{/login}" title="Begin your mental anguish">Login</a></li>
                        <li><a href="about.html" th:href="@{/about}" title="See who is subjecting you to this">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>


    <!-- CONTENT___________________________________________ -->
    <div class="content">

        <div class="section-header">
          <h1>The Gauntlet</h1>
        </div>

        <div class="profile-pic" th:style="'background-image: url(' + @{/dictator/image(id=${dictator.getUser().getId()})}+')'">
            <!-- <div class="profile-icon" style="background-image:url('../static/images/tiger.png');" th:style="'background-color:'+${dictator.getOverviewColor()}+'; background-image:url(images/'+${dictator.getOverviewMascot().toLowerCase()}+'.png);'"></div> -->
            <div id="more-info-button" data-remodal-target="more-info"></div>
        </div>

        <!--Text display-->
        <div class="profile-info">
          <h2 th:text="${dictator.getUser().getUsername()}">Username</h2>
          <h2 th:text="${dictator.getOverviewDictatorshipName()}">Party</h2>
          <h3 th:text="${dictator.getOverviewBlurb()}">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
        </div>


        <!--Voting buttons-->

        <div class="buttons" id="vote-buttons">

          <!--MODAL TRIGGERS-->
          <!-- <div class="more-info-container">
              <button id="more-info" type="button" data-remodal-target="more-info"></button> -->
              <!-- <label for="more-info">More Info</label> -->
          <!-- </div> -->

          <a href="vote.html" th:href="@{'/revolt?dictatorId='+${dictator.getUser().getId()}}">
              <button id="revolt-button" type="button" >Revolt</button>
          </a>

          <a href="vote.html" th:href="@{'/pledge?dictatorId='+${dictator.getUser().getId()}}">
              <button id="pledge-button" type="button" >Pledge</button>
          </a>
        </div>


        <!--The modals-->
        <div class="remodal" data-remodal-id="more-info" id="more-info">
            <a href="#" data-remodal-action="close" class="remodal-close" ></a>
            <div class="more-info-policy">
              <h4><span th:text="${dictator.getOverviewDictatorshipName()}">Your</span>'s Economic Policies</h4>
              <ul>
                  <li>Stance on minion labor rights: <span th:text="${dictator.getEconLabor()}"></span></li>
                  <li>Minion Taxes: <span th:text="${dictator.getEconTax()}"></span></li>
                  <li>Foreign trade with other realms: <span th:text="${dictator.getEconTrade()}"></span></li>
                  <li>Realm infrastructure: <span th:text="${dictator.getEconInfrastructure()}"></span></li>
                  <li>Military might: <span th:text="${dictator.getEconMilitary()}"></span></li>
              </ul>
            </div>
            <br/>
            <br/>

            <div class="more-info-policy">
              <h4><span th:text="${dictator.getOverviewDictatorshipName()}">Your</span>'s Social Policies</h4>
              <ul>
                  <li>Stance on minion healthcare: <span th:text="${dictator.getSocialHealthcare()}"></span></li>
                  <li>Minion retirement: <span th:text="${dictator.getSocialRetirement()}"></span></li>
                  <li>Minion education: <span th:text="${dictator.getSocialEducation()}"></span></li>
                  <li>Environmental issues: <span th:text="${dictator.getSocialEnvironment()}"></span></li>
                  <li>Minion welfare: <span th:text="${dictator.getSocialWelfare()}"></span></li>
              </ul>
            </div>
            <br/>
            <br/>

            <div class="more-info-policy">
              <h4><span th:text="${dictator.getOverviewDictatorshipName()}">Your</span>'s Legal Policies</h4>
              <ul>
                  <li>Minion punishment: <span th:text="${dictator.getLegalPunishment()}"></span></li>
                  <li>Minion immigration: <span th:text="${dictator.getLegalImmigration()}"></span></li>
                  <li>Minion voting rights: <span th:text="${dictator.getLegalVotingRights()}"></span></li>
                  <li>Minion privacy Laws: <span th:text="${dictator.getLegalPrivacyLaws()}"></span></li>
                  <li>Minion weapon rights: <span th:text="${dictator.getLegalWeapons()}"></span></li>
              </ul>
            </div>
            <br />
            <br />


            <a href="#" data-remodal-action="cancel" class="remodal-return">RETURN</a>
        </div>

        <div class="remodal" id="revolt-modal" data-remodal-id="revolt-modal">
          <h2>You have Revolted!</h2>
        </div>

        <div class="remodal" id="pledge-modal" data-remodal-id="pledge-modal">
          <h2>You have Pledged!</h2>
        </div>

    </div>
    <!-- FOOTER____________________________________________ -->
    <footer>
        <p></p>
    </footer>









<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/remodal.js" th:src="@{js/remodal.js}"></script>
<script src="../static/js/script.js" th:src="@{js/script.js}"></script>

</body>
</html>
