<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<!-- HEADER____________________________________________ -->
<header>
    <div class="logo">
        <a href="index.html">Appallitics</a>
    </div>
    <ul class="main-nav">
        <li><a href="#">Login</a></li>
        <li><a href="#">Leaderboard</a></li>
        <li><a href="#">Vote</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">About</a></li>
    </ul>
    <div class="hamburger-trigger">
        <ul class="hamburger-nav">
            <li><a href="#">Login</a></li>
            <li><a href="#">Leaderboard</a></li>
            <li><a href="#">Vote</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>
</header>


<!-- CONTENT___________________________________________ -->

<!-- FOOTER____________________________________________ -->
<footer>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</footer>









<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/remodal.js"></script>
<script src="../static/js/script.js"></script>

</body>
</html>